<div class="pad-16">

    <h3> Lazy Loading Data </h3>
    <p style="width:1000px"> This is an example of lazy loading data. There are many customers but the page initially loads only {{pageSize}} customer.
        When you scroll to bottom it loads another {{pageSize}}, this goes on till it loads all the  customer
    </p>
    <br/>
    <div style='width:700px; text-align:center'>
        <ngx-datatable
            style='width:100%;text-align:left'
            [rows]="rows"
            [columns]="columns"
            [headerHeight]="45"
            [rowHeight]="'auto'"
            [columnMode]="'standard'"
            [scrollbarV]="false"
            trackScroll
            (bottom)='onScroll()'
        >
        </ngx-datatable>
        <div *ngIf="isLoading" style="margin:5px auto" class="spinner spinner-md">Loading...</div>
    </div>
</div>
